p, a{
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    letter-spacing: 1.5px;
    padding: 10px 0px;
}
body{
    max-width: 1440px;
    margin: 0 auto
}

/* header */
header{
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    
}

.headerHome{
    grid-area: hh;
    background-image: url("img/spidermanheader3.jpg");
}

.logo{
    max-width: 150px;
    height: auto;
}

nav{
    display: flex; 
    flex-flow: row nowrap;
    /* alinha os itens de forma centralizada dentro do nav: */
    align-items: center; 
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    width: 100%; 
    max-width: 50%;
    justify-content: space-evenly;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 10px;
}

.currentPage {
    border-bottom: 3px solid #fe7467; 
}

.funkoSpider{
    max-width: 320px;
    height: auto;
    position: relative;
    top: 150px;
    left: 175px;
}


/* quem somos */

section.whoWeAre{
    grid-area: hwa;
    background-image: url("img/thor_header.jpg");
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.titleWho{
    color: white;
    font-size:35px ;
}

.titleWho::after{
    display: block;
    content: '';
    width: 150px;
    height: 6px;
    margin: 10px auto;
    background-color: white;
}

p.whoWeAre{
    grid-area: texthwa;
    color: white;
    font-size: 25px;
}

/* Catalogo */
h2.titleCatalogue, .entreEmContato{
    text-transform: uppercase;
    font-size:35px ;
}
.titleCatalogue::after, .entreEmContato::after{
    display: block;
    content: '';
    width: 150px;
    height: 6px;
    margin: 10px auto;
    background-color: #fe7467;
}
.catalogue{
    grid-area: cat;
    padding: 30px;
    min-height: auto;
}
.sectionCatalogue{
    width: 700px;
    height: auto;
    /* position: relative;
    top: 100px;
    left: 175px; */
}

p.catalogue{
    font-size: 25px;
}

.defaultButton{
    background-image: linear-gradient(to bottom, #fe7467, #fc3836);
    border: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: white;

}

.homeCatalogueButton, .contactButton{
    border-radius: 20px;
    cursor: pointer;
}

/* Grid Index */
.bodyHome{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "hh"
    "hwa"
    "cat" 
}

.hwa-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    ". texthwa";
    column-gap: 200px;
}

.catContainer{
    display: flex;
    flex: row nowrap;
}





/* CATALOGO-PAGE */
.headerCatalogue{
    background-image: url('/img/captainmarvelheader.jpg');
}

.novidadeCaptain{
    max-width: 521px;
    height: auto;
    position: relative;
    top: 250px;
    left: 194px;
}

.defaultProduct{
    max-width: 95%;;
    height: auto;
}

.aboutProduct{
    font-weight: 600;
    font-size: 23px;
}

.price{
    font-weight: 600;
    font-style: italic;
    font-size: 25px;
    margin: 10px;
}

.productBuy{
    border-radius: 40px;
    padding: 10px;
    width: 150px;
}

/* GRID/Flex Catalogo */

.contProducts{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;

}

.contProductsGrid{
    max-width: 340px;
    padding: 40px;
    
}





/* contact page */
.headerContact{
    background-image: url('img/contatoheader.jpg');
}

.contatoRobin{
    max-width: 450px;
    height: auto;
    position: relative;
    top: 180px;
    left: 195px; 
}

.contactP{
    text-align: center;
    margin: 50px 350px;
    font-weight: 500;
    font-size: 25px;
}

.defaultInput{
    border-style:solid;
    border-width: 2.5px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    border-color: lightgray;
    background-color: whitesmoke;
    width:400px;
}

input::placeholder{
    color: lightgray;
}

textarea::placeholder{
    color: lightgray;
}

.contactButton{
    min-width: 900px;
    /* margin: auto 360px; */
    display: center;
}

#butao{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* grid/flex contato */
.containerTextForm{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* flex-basis: auto; */
    column-gap: 10px;
    /* gap: 10px; */
}

.inputsForm{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}

