p, a{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700px;
    letter-spacing: 1.5px;
    padding: 10px 0px;
}
body{
    max-width: 1440px;
    margin: 0 auto
}

/* header */
header{
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    
}

.headerHome{
    background-image: url("img/spidermanheader3.jpg");
}

.logo{
    max-width: 150px;
    height: auto;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 23px;
 /*   margin:auto; */
    padding-bottom: 10px;
}

.currentPage {
    border-bottom: 3px solid #fe7467; 
}

.funkoSpider{
    max-width: 320px;
    height: auto;
    position: relative;
    top: 100px;
    left: 175px;
}

/* quem somos */

section.whoWeAre{
    background-image: url("img/thor_header.jpg");
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}

.titleWho{
    color: white;

}

.titleWho::after{
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    margin: 10px auto;
    background-color: white;
}

p.whoWeAre{
    color: white;
    font-size: 20px;
}

/* Catalogo */
h2.titleCatalogue{
    text-transform: uppercase;
}
.titleCatalogue::after{
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    margin: 10px auto;
    background-color: #fe7467;
}
.catalogue{
    padding: 30px;
    min-height: auto;
}
.sectionCatalogue{
    width: 700px;
    height: auto;
    position: relative;
    top: 100px;
    left: 175px;
}

p.catalogue{
    font-size: 20px;
}

.defaultButton{
    background-image: linear-gradient(to bottom, #fe7467, #fc3836);
    border: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border-radius: 15px;
}


/* CATALOGO-PAGE */
.headerCatalogue{
    background-image: url('/img/captainmarvelheader.jpg');
}